#box ul li{
border:1px solid #ccc;
float:left;
position:relative;
width:248px;
height:64px;
overflow:hidden;
background-color:#fff;
margin-bottom:10px;
opacity:0.3;
}
div{background-color:#FFF} 
#box .img{
float:left;
width:80px;
height:80px;
overflow:hidden;
margin-right:5px;
}
#box .s_mark{
width:100%;
height:100%;
border:0px;
position:absolute;
z-index:99999;
top:0px;
left:0px;
}
#box .s_right{
margin:3px auto;
padding:5px;
}
#box .title{
font-size:14px;
text-align:left;
font-weight:bold;
height:20px;
line-height:20px;
overflow:hidden;
}
#box .contents{
font-size:12px;
text-align:left;
display:block;
height:50px;
overflow:hidden;
line-height:17px;
}
.logo{
right:0px;
}