body{
margin:0px;
padding:0px;
}
#box ul li:hover{
border:1px solid red;
}
#box li{
background-color:#fff;
}
ul{
margin:0px;
padding:0px;
list-style:none;
}
.radius6px{
-moz-border-radius: 6px;/* Gecko browsers */
-webkit-border-radius:6px;/* Webkit browsers */
border-radius:6px;/* W3C syntax */
}
.radius10px{
-moz-border-radius: 10px;/* Gecko browsers */
-webkit-border-radius:10px;/* Webkit browsers */
border-radius:10px;/* W3C syntax */
}
.radius15px{
-moz-border-radius: 15px;/* Gecko browsers */
-webkit-border-radius:15px;/* Webkit browsers */
border-radius:15px;/* W3C syntax */
}
.shadow{
-moz-box-shadow: 1px 1px 1px #ccc;
-webkit-box-shadow: 1px 1px 1px #ccc;
box-shadow: 1px 1px 2px #ccc;
}
.logo{
display:none;
}
#form1{
position:absolute;
background-color:#ccc;
width:50%;
height:90px;
z-index:999999;
opacity:0.8;
display:none;
}
#form1 input{
width:50px;
}
.clear{
CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 0px;
}