#box{
border:1px solid #ccc;
}
div{background-color:#FFF} 

#box ul li{
height:29px;
width:320px;
text-align:center;
float:left;
position:relative;
}
#box .title{
font-size:14px;
overflow:hidden;
text-align:left;
margin:6px 3px 3px 3px;
}
#box .s_mark{
width:100%;
height:100%;
border:0px;
position:absolute;
z-index:99999;
top:0px;
left:0px;
}
.logo{
top:1px;
right:1px;
}