body {
	  color: rgb(51, 51, 51); line-height: 18px; font-family: Verdana, Arial, Helvetica, sans-serif, ו; font-size: 12px;
}
 
body {
	margin: 0px; padding: 0px;
}
html {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
img {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
img {
	border: 0px currentColor; vertical-align: top;
}
button {
	
}
select {
	
}
textarea {
	
}
textarea {
	resize: none;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
}
.clear {
	clear: both;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
* + html .clearfix {
	zoom: 1;
}
.main {
	margin: 0px auto; width: 980px;
}
.mainLeft {
	width: 256px; float: left;
}
.mainRight {
	float: right;
}
.margin {
	margin-bottom: 15px; _padding-bottom: 1px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
em {
	font-size: 12px; font-style: normal;
}
font {
	font-size: 12px; font-style: normal;
}
cite {
	font-size: 12px; font-style: normal;
}
pre {
	white-space: pre-wrap; word-wrap: break-word;
}
a {
	color: rgb(112, 112, 112); text-decoration: none;
}
a:hover {
	color: rgb(237, 63, 63); text-decoration: underline;
}
.top {
	background: rgb(242, 242, 242); height: 30px; border-bottom-color: rgb(201, 208, 196); border-bottom-width: 1px; border-bottom-style: solid;
}
 