@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont673a.eot'); /* IE9 */
  src: url('../fonts/iconfont673a.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/b7ced63b2b354043b5c2cc6435cef0dd.woff') format('woff2'),
  url('../fonts/iconfont673a.woff') format('woff'),
  url('../fonts/iconfont673a.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont673a.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Loading:before {
  content: "\e639";
}

.icon-Loading1:before {
  content: "\e65d";
}

.icon-loading:before {
  content: "\e771";
}

.icon-Loading2:before {
  content: "\e6e8";
}

.icon-tianjiatupian:before {
  content: "\e636";
}

.icon-morentupianccccccpx:before {
  content: "\e612";
}

.icon-tupiantianchong:before {
  content: "\e6b2";
}

.icon-double-arrow-bottom:before {
  content: "\e631";
}

.icon-top:before {
  content: "\e61e";
}

.icon-top1:before {
  content: "\e626";
}

.icon-Left:before {
  content: "\e709";
}

.icon-appstore:before {
  content: "\e929";
}

.icon-warning:before {
  content: "\e836";
}

.icon-right:before {
  content: "\e606";
}

.icon-android:before {
  content: "\e640";
}

.icon-ios:before {
  content: "\e676";
}

